.idea/
__pycache__/
.vscode
.idea
.vscode
venv
Backend/ForexMetricsBackend/.dbdata
Backend/shell_script.txt
.docker_data
.env
deployment
logs/output
logs/pos
src/database/logs
src/backend/logs
src/mailer/logs
src/influx/backup/influx_*
src/influx/logs